</div><!-- close the content div -->

<footer>
  <div class="copyright text--center">
    <p>
      &copy; {{ site.name }} {{ site.time | date: "%Y" }} - All rights reserved.
    </p>
  </div>

  <!-- <ul class="list--unstyled">
    <li class="list--inline">
      <p class="rss-subscribe">subscribe <a class="link" href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
    </li>
    <li class="list--inline">
      <a class="link" href="">twitter</a>
    </li>
  </ul> -->

</footer>

<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
<script id="dsq-count-scr" src="//huckbit.disqus.com/count.js" async></script>
<script src="{{ site.baseurl }}/js/app.js"></script>
</body>
</html>
