<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
</head>

<body>
    <div class="main">
        <button class="hamburger hamburger-x hamburger-x--left">
            <span>toggle menu</span>
        </button>
        <!-- <div class="home__link link text--right"><a class="link" href="/"><i class="fa fa-home"></i></a></div> -->
