<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="sBJuTmPTiwR2dJ2xBmGgf6cWhnOWRLzq_L5WQKP0JKA" />
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
</head>

<body>
    <div class="main">
      <div class="header-nav">
        <button class="hamburger hamburger-x hamburger-x--position">
          <span>toggle menu</span>
        </button>
        <div class="header-nav__menu text--right">
          <ul class="list--unstyled">
            <li class="header-nav__menu--title list--inline"><a class="link" href="{{ site.baseurl }}/">huckbit</a></li>
            <li class="header-nav__menu--subtitle">a blog by <a href="{{ site.baseurl }}/about/">Massimiliano Ranauro</a></li>
          </ul>
        </div><!-- ./header-nav__home -->
      </div><!-- ./header-nav -->
