<div class="side-nav">
    <ul class="menu list--unstyled">
        <li class="menu__item{% if page.title == "home" %} active{% endif %}"><a class="link link--white" href="/">Home</a></li>
        {% assign sorted_pages = site.pages | sort:"order" %}
          {% for node in sorted_pages %}
            {% if node.title != null %}
              {% if node.layout == "page" %}
        <li class="menu__item{% if page.url == node.url %} active{% endif %}">
            <a class="link link--white" href="{{ node.url }}">{{ node.title }}</a>
        </li>
              {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
    <div class="social-side-nav">
      <ul class="list--unstyled">
        <li class="social-side-nav__item--separator"></li>
        <li class="social-side-nav__item--description">follow me</li>
        <li class="list--inline social-side-nav__item"><a class="link link--white-social" href="https://twitter.com/@huckbit" target="_blank" title="Follow me on twitter">&#xf099;</a></li>
        <li class="list--inline social-side-nav__item"><a class="link link--white-social" href="https://github.com/huckbit" target="_blank" title="Follow me on github">&#xf09b;</a></li>
        <li class="list--inline social-side-nav__item social-side-nav__item--last"><a class="link link--white-social" href="http://codepen.io/huckbit/" target="_blank" title="Follow me on codepen">&#xf1cb;</a></li>
      </ul>
    </div>
</div>
