// --------------------------------------------------------
//   Override default configuration for the theme here
// --------------------------------------------------------

// -------------------------------------
//   Colors
// -------------------------------------

// ----- Base Colors ----- //

$sitecol-1: #282c34;
$sitecol-2: #2F375B;
$sitecol-3: #F43059;
// ...


//links color
$link-color: #F43059;
$visited-color: #F43059;
$hover-color: #2F375B;
$active-color: #2F375B;

//Button custom color
$btncolorcustom: RGBA(52, 73, 94, 1.00);
$btncolorcustom-hover: RGBA(41, 128, 185, 1.00);
