// --------------------------------------------------------
//   Override default configuration for the theme here
// --------------------------------------------------------

// -------------------------------------
//   Colors
// -------------------------------------

// ----- Base Colors ----- //

$sitecol-1: #282c34;
$sitecol-2: #e74c3c;
$sitecol-3: #2980b9;
// ...


//links color
$link-color: #2980B9;
$visited-color: #2980b9;
$hover-color: #40BCFB;
$active-color: #40BCFB;

//Button custom color
$btncolorcustom: RGBA(52, 73, 94, 1.00);
$btncolorcustom-hover: RGBA(41, 128, 185, 1.00);
