// -------------------------------------
//   Theme variables
// -------------------------------------

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,900|Radley);
@font-face {
    font-family: 'Bebas';
    src: url('../public/fonts/bebas-webfont.woff2') format('woff2'),
         url('../public/fonts/bebas-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$firstFontStyle: 'Playfair Display',fontAwesome, Helvetica, Arial, sans-serif;
$secondFontStyle: 'Bebas', fontAwesome, Helvetica, Arial, sans-serif;

//breakpoint viewport
$mobile: 320px 767px;
$tablet: 768px 959px;
$desk: 960px 1199px;
$retina: max-width 1440px;

/**============================================================
   General style
  ============================================================= */
// * {
//   border: 1px dotted green;
// }

body {
  height: 100vh;
  overflow-x: hidden; //Disable orizzontal scroll
  background: $bodyBackgroundCol;
  font-family: $firstFontStyle;
  color: $sitecol-1;
}

a{
  text-decoration: none;
  @include linx($sitecol-3, $sitecol-3, $sitecol-2, $sitecol-2);
}

.link {
  //link--white
  @include modifier('white'){
    @include linx($white, $white, $sitecol-2, $sitecol-2);
  }
}

/**============================================================
   header style
  ============================================================= */
.header-nav {
  //header-nav__menu
  @include element('menu'){
    margin-top: -65px;
    //header-nav__menu--home
    @include modifier('home'){
      font-size: 1.4em;
      //breakpoint mobile
        @include breakpoint($mobile) {
          font-size: .9em;
        }
      &::before, &::after{
        position: relative;
        color: $sitecol-2;
        transition: all 500ms ease;
      }
      &::before {
        content: "[ ";
      }
      &::after {
        content: " ]";
      }
      &:hover::before, &:hover::after{
        color: $sitecol-3;
        margin: 0 3px;
      }

      // &:hover::after{
      //   color: $sitecol-3;
      // }
    }
  }
}


/**============================================================
   sidebar nav style
  ============================================================= */
.side-nav {
  height: 100%;
  width: 200px;
  position:fixed;
  z-index: 1;
  top: 0;
  left: -200px;
  background-color: $sitecol-2;
  visibility: hidden;
  transition: all 300ms linear;
  //breakpoint mobile -- version one
    // @include breakpoint($mobile){
    //   position: fixed;
    //   width: 100vw;
    // }
  //breakpoint mobile -- version two
    @include breakpoint($mobile){
      //no style needed
    }
}
.side-nav--show{
  transform: translateX(200px);
  visibility: visible;
}

.menu {
  padding-top: span(1 of 12);
  font-weight: 100;
  text-align: left;
  //menu__item
  @include element('item') {
    padding: 7px 0px 7px 10px;
    margin-top: 0;
    font-family: $firstFontStyle;
    font-size: 1em;
    font-weight: lighter;
    text-transform: lowercase;
    transition: all 500ms ease;
    a {
      display: block; //for having full hover state on sidebar items
    }

    //breakpoint mobile -- version one
      // @include breakpoint($mobile){
      //   text-align: center;
      //   margin: 0;
      //   padding: 6px 0;
      //   font-size: 1.2em;
      // }

    //breakpoint mobile -- version two
      @include breakpoint($mobile){
        //no style needed
      }
    &:hover{
      background: $sitecol-3;
      a{
        padding-left: 10px;
      }
    }
  }

}

/* this class is for the active element inside menu
(jekyll function inside sidebar page ) */
.active {
  background: $sitecol-3;
}

.main {
  @include span(10 of 12);
  @include push(1 of 12);
  transition: margin-left 300ms linear;
}

.main--show{
  margin-left: 300px;

  //breakpoint mobile -- version two (no version one for this class)
    @include breakpoint($mobile){
      margin-left: 200px;
    }

}

.social-side-nav {
  margin-top: 20%;
  margin-left: 3%;
  //breakpoint mobile -- version one
    // @include breakpoint($mobile){
    //   text-align: center;
    // }
  //breakpoint mobile -- version two
    @include breakpoint($mobile){
      text-align: left;
    }

  //social-side-nav__item
  @include element('item'){
    padding-right: 5px;
    font-size: 1.2em;
    //social-side-nav__item--last
    @include modifier('last'){
      padding-right: 0;
    }
    @include modifier('separator'){
      border-top: 8px solid $sitecol-3;
      position: relative;
      width: 55%;
      left: -2px;
      //breakpoint mobile
        @include breakpoint($mobile){
          padding-top: 10%;
          width: 100%;
          left: -5px;
        }
    }
    @include modifier('description'){
      color: $white;
      font-size: .8em;
    }
  }
}
.link--white-social {
  @include linx($white, $white, $sitecol-3, $sitecol-3);
}
/**============================================================
   hamburger button style
  ============================================================= */
.hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transform: scale(.5);
  transition: background 0.3s;
  &:focus {
    outline: none;
  }
  span {
    display: block;
    position: absolute;
    top: 44px;
    left: 18px;
    right: 18px;
    height: 8px;
    background: $sitecol-2;
    &::before, &::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 8px;
      background-color: $sitecol-2;
      content: "";
    }
    &::before {
      top: -20px;
    }
    &::after {
      top: 20px;
    }
  }
}

.hamburger-x {
  background: $bodyBackgroundCol;
  &:hover {
    //background: $grey;
  }
  span {
    transition: background 0s 200ms ease;
    &::before, &::after{
      transition-duration: 300ms, 200ms;
      transition-delay: 200ms, 0s;
    }
    &::before {
      transition-property: top, transform;
    }
    &::after {
      transition-property: bottom, transform;
    }
  }
  &.is-active {
    background-color: $sitecol-3;
    span {
      background: none;
      &::before {
        top: 0;
        transform: rotate(45deg);
        background: $white;
      }
      &::after {
        top: 0;
        transform: rotate(-45deg);
        background: $white;
      }
      &::before, &::after {
        transition-delay: 0s, 200ms;
      }
    }
  }

  //hamburger-x--left
  @include modifier('left') {
    left: -10%;
  }

}

/**============================================================
   home page blog
  ============================================================= */
.home {
  @include span(10);
  @include push(1);
  //breakpoint mobile
    @include breakpoint($mobile){
      @include span(12);
      text-align: center;
    }
}

.post-loop {
  margin-top: 7%;
  //breakpoint mobile
    @include breakpoint($mobile){
      margin-top: 25%;
    }
  //post-loop__title
  @include element('title'){
    font-family: $secondFontStyle;
    color: $sitecol-3;
    margin-bottom: 2%;
    font-size: 3em;
    //breakpoint mobile
      @include breakpoint($mobile){
        font-size: 1.5em;
      }
  }
  //post-loop__meta
  @include element('meta'){
    //style fot the post--meta
    font-size: .8em;
    padding-left: 1%;
  }
}

.pagination {
  @include full;
  margin-top: span(1);
}

.rss-subscribe {
  margin-top: 3%;
}


/**============================================================
   page style
  ============================================================= */
.page {
  @include span(8);
  @include push(2);
  height: 100%;
  //breakpoint mobile
  @include breakpoint($mobile){
    @include span(12);
    text-align: center;
  }
  //page__title
  @include element('title'){
    color: $sitecol-2;
    margin-bottom: 3%;
    //breakpoint mobile
      @include breakpoint($mobile){
        font-size: 2em;
        margin-bottom: 10%;
      }
  }
  @include element('content'){
    //breakpoint mobile
      @include breakpoint($mobile){
        font-size: .8em;
        line-height: 1.5em;
      }
  }
}




/**============================================================
   Post page style
  ============================================================= */
.post-page{
  @include span(10);
  @include push(1);
  //breakpoint mobile
  @include breakpoint($mobile){
    @include span(12);
  }
}
.post {
  //post__title
  @include element('title'){
    font-family: $secondFontStyle;
    color: $sitecol-3;
    letter-spacing: 1px;
    font-size: 5em;
    margin-top: 7%;
    //breakpoint mobile
      @include breakpoint($mobile){
        font-size: 1.5em;
        margin-top: 15%;
      }
  }
  //post__subtitle
  @include element('subtitle'){
    font-size: 3em;
    margin:0;
    line-height: 1.2em;
    color: $sitecol-2;
    //breakpoint mobile
      @include breakpoint($mobile){
        font-size: 1.1em;
      }
  }

  //post__meta
  @include element('meta'){
    line-height: 1.8em;
    font-size: 1em;
    color: $sitecol-2;
    //breakpoint mobile
      @include breakpoint($mobile){
        font-size: .6em;
      }
  }

  //post__author
  @include element('author'){
    line-height: 2.2em;
  }

  //post__date
  @include element('date'){
    &::before {
      content: " - "
    }
  }

  //post__content
  @include element('content'){
    margin-top: 7%;
    margin-bottom: 10%;
    //breakpoint mobile
      @include breakpoint($mobile){
        font-size: .8em;
        line-height: 1.3;
        pre {
          font-size: 1em;
          padding: 0;
          margin: 0;
        }
      }
  }
}

.get-in-touch{
  font-size: 1.7em;
  margin-bottom: 12%;
  //breakpoint mobile
    @include breakpoint($mobile){
      font-size: .8em;
      line-height: 1.2em;
    }
}

.related-post {
  border-top: 2px solid #E7E9EE;
  margin-top: 7px;
  padding-top: 3%;
  font-size: 1.5em;
  margin-bottom: 10%;
  //breakpoint mobile
    @include breakpoint($mobile){
      font-size: .5em;
    }
  h2 {
    margin: 0;
    line-height: 1.8em;
  }

  //related-post__list
  @include element('list'){
    line-height: .5em;
  }

  //related-post__item
  @include element('item') {
    h4 {
      margin: 0;
      line-height: 1.5em;
      font-family: $secondFontStyle;
      //breakpoint mobile
        @include breakpoint($mobile){
          font-size: 1.6em;
        }
    }
    small {
      font-family: $firstFontStyle;
      color: $sitecol-2;
      vertical-align: middle;
      &::before {
        content: "- "
      }
    }
  }
}

/**============================================================
   footer style
  ============================================================= */
footer{
  @include full;
  margin-bottom: 2%;
  margin-top:5%;
}
.copyright {
  font-size: .8em;
  color: $lightgrey;
  //breakpoint mobile
    @include breakpoint($mobile){
      font-size: .5em;
      margin: 5% 0;
    }
}
