// -------------------------------------
//   THEME/PAGE STYLE
// -------------------------------------

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Radley);

@font-face {
    font-family: 'bebasregular';
    src: url('../public/fonts/bebas-webfont.woff2') format('woff2'),
         url('../public/fonts/bebas-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/**============================================================
   General style
  ============================================================= */
// * {
//   border: 1px dotted green;
// }

body {
  overflow-x: hidden; //Disable orizzontal scroll
  background: #fafafa;
  font-family: 'Playfair Display',fontAwesome, Helvetica, Arial, sans-serif;
  color: $sitecol-1;
}

.link {
  //link--white
  @include modifier('white'){
    @include linx($white, $white, $lightgrey, $lightgrey);
  }
}

/**============================================================
   sidebar nav style
  ============================================================= */
.side-nav {
  height: 100%;
  width: 200px;
  position:fixed;
  z-index: 1;
  top: 0;
  left: -200px;
  background-color: $sitecol-3;
  visibility: hidden;
  transition: all 300ms linear;
}
.side-nav--show{
  transform: translateX(200px);
  visibility: visible;
}

.menu {
  padding-top: span(1 of 12);
  font-weight: 100;
  text-align: left;

  //menu__item
  @include element('item') {
    padding: 5px 0px 5px 10px;
    font-family: 'Bebas', sans-serif;
  }

}

.main {
  @include span(10 of 12);
  @include push(1 of 12);
  transition: margin-left 300ms linear;
}

.main--show{
  margin-left: 300px;
}




/**============================================================
   hamburger button style
  ============================================================= */
.hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 96px;
  height: 96px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transform: scale(.5);
  transition: background 0.3s;
  &:focus {
    outline: none;
  }
  span {
    display: block;
    position: absolute;
    top: 44px;
    left: 18px;
    right: 18px;
    height: 8px;
    background: white;
    &::before, &::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 8px;
      background-color: #fff;
      content: "";
    }
    &::before {
      top: -20px;
    }
    &::after {
      top: 20px;
    }
  }
}

.hamburger-x {
  background: $sitecol-2;
  &:hover {
    background: $grey;
  }
  span {
    transition: background 0s 200ms ease;
    &::before, &::after{
      transition-duration: 300ms, 200ms;
      transition-delay: 200ms, 0s;
    }
    &::before {
      transition-property: top, transform;
    }
    &::after {
      transition-property: bottom, transform;
    }
  }
  &.is-active {
    background-color: $sitecol-3;
    span {
      background: none;
      &::before {
        top: 0;
        transform: rotate(45deg);
      }
      &::after {
        top: 0;
        transform: rotate(-45deg);
      }
      &::before, &::after {
        transition-delay: 0s, 200ms;
      }
    }
  }

  //hamburger-x--left
  @include modifier('left') {
    left: -10%;
  }

}


/**============================================================
   home page blog
  ============================================================= */
.home {
  @include span(10);
  @include push(1);
}

.post-loop {
  //post-loop__title
  @include element('title'){
    font-family: 'Bebas', sans-serif;
    color: #F43059;
    margin-bottom: 2%;
    font-size: 3em;
  }
  //post-loop__meta
  @include element('meta'){
    //style fot the post--meta
    font-size: .8em;
    padding-left: 1%;
  }
}

.rss-subscribe {
  margin-top: 3%;
}


/**============================================================
   Post page style
  ============================================================= */

.post {
  //post__title
  @include element('title'){
    font-family: 'Bebas', sans-serif;
    color: #F43059;
    margin-bottom: 2%;
    letter-spacing: 1px;
    font-size: 5em;
  }
  //post__subtitle
  @include element('subtitle'){
    font-size: 3em;
    line-height: 1em;
  }

  //post__date
  @include element('date'){
    font-size: 1em;
    line-height: .1em;
  }

  //post__content
  @include element('content'){
    margin-top: 5%;
    margin-bottom: 10%;
  }
}

.related {
  border-top: 1px dotted $lightgrey;
  font-size: 1.5em;
}


/**============================================================
   page style
  ============================================================= */
.page {
  @include span(10);
  @include push(1);
}
