---
layout: default
---

<div class="post-page">

<!-- post section -->
  <div class="post">
    <h1 class="post__title">{{ page.title }}</h1>
    <h2 class="post__subtitle">{{ page.subtitle }}</h2>
    <p class="post__meta post__author">
      posted from: <a class="link" href="{{site.baseurl}}/about">{{page.author.display_name}} </a><span class="post__meta post__date">{{ page.date | date_to_string }}</span>
    </p>
    <div class="post__content">
      {{ content }}
    </div>
  </div>

<!-- <div class="categories">
  <p class="categories__meta">categories: {{page.categories}}  tags: <a href="">{{page.tags}}</a></p>
</div> -->

<div class="get-in-touch">
  <p>
    <a href="#comment">Leave a comment</a> or contact me via Twitter <a href="https://twitter.com/@huckbit" target="_blank">@huckbit</a>
  </p>
</div>

<!-- disquis section -->
  <div id="comment"></div><!-- I used this to connect comment with disqus -->
  <div id="disqus_thread"></div>
  <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>

<!-- related-post seciton -->
  <div class="related-post">
    <h2>Related Posts</h2>
    <ul class="related-posts__list list--unstyled">
      {% for post in site.related_posts limit:3 %}
        <li class="related-post__item">
          <h4>
            <a class="link" href="{{ post.url }}">
              {{ post.title }}
              <small>{{ post.date | date_to_string }}</small>
            </a>
          </h4>
        </li>
      {% endfor %}
    </ul>
  </div>

</div><!-- ./page -->
